<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>

		<!-- Configurações de Conexão com o Banco de Dados -->
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://127.0.0.1:3306/secretariavirtual</property>
		<!--<property name="javax.persistence.jdbc.url">jdbc:mysql://127.0.0.1:3306/secretariavirtual</property>-->

		
		<property name="connection.username">hbnavy</property>
		<property name="connection.password">hbnavy</property>

		<!-- Pool de Conexões -->
		<property name="connection.pool_size">1</property>

		<!-- SQL dialect -->
		<property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>

		<!-- Gerenciamento do Contexto das Sessões -->
		<property name="current_session_context_class">thread</property>

		<!-- Cache de Segundo Nível -->
		<property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

		<!-- Mostra as SQLs Geradas -->
		<property name="show_sql">true</property>

		<!-- Cria as tabelas do banco de dados -->
		<!--<property name="hbm2ddl.auto">create</property>-->
		
		<!-- Atualiza as tabelas do banco de dados -->
		<property name="hbm2ddl.auto">validate</property>
		
		<!-- Mapeando as tabelas no DB -->
		<mapping class="br.com.secretariavirtual.domain.Cliente"/>
		<mapping class="br.com.secretariavirtual.domain.Cidade"/>
		<mapping class="br.com.secretariavirtual.domain.Estado"/>
		<mapping class="br.com.secretariavirtual.domain.Fornecedor"/>
		<mapping class="br.com.secretariavirtual.domain.Funcionario"/>
		<mapping class="br.com.secretariavirtual.domain.Historico"/>
		<mapping class="br.com.secretariavirtual.domain.ItemVenda"/>
		<mapping class="br.com.secretariavirtual.domain.Pessoa"/>
		<mapping class="br.com.secretariavirtual.domain.Produto"/>
		<mapping class="br.com.secretariavirtual.domain.Usuario"/>
		<mapping class="br.com.secretariavirtual.domain.Venda"/>
				
	</session-factory>

</hibernate-configuration>